# type de fichiers
*.doc
*.docx
*.pdf

# dossiers
venv/
.idea/

RouleMaPoule/RouleMaPoule/__pycache__/

RouleMaPoule/uploader/__pycache__/

RouleMaPoule/uploader/models/__pycache__/

.vscode/

RouleMaPoule/input/__pycache__/
